* {
    box-sizing: border-box;
  }
  
  ::selection {
    background: #000000;
    color: #ffffff;
  }
  
  html, body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    font-size: 0.6rem;
    font-weight: 1000;
    text-transform: uppercase;
    animation: jump 3s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(1rem);
      filter: blur(15px);
    }
  }