html {
    background-color: #fff400;
}

#canvas{
    background-color: purple;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    width: 60vw;
    height: 60vh;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 50px auto 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    border-radius: 5px;
    border-style: none;
    display: block;
}
