* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: #AF4D98;
}
.pad2 {
  background: #D66BA0;
}
.pad3 {
  background: #E5A9A9;
}
.pad4 {
  background: #F4E4BA;
}
.pad5 {
  background: #9DF7E5;
}
.pad6 {
  background: #60c2d3;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}
