.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: background-color;
}
  
.box {
    height: 60vmin;
    width: 60vmin;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    will-change: background-color;
    border: 7.5vmin solid white;
}
  
.box, body {
      background-color: black;
}
  
.hello {
    font: 600 12vmin Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    will-change: color;
}