@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #5295F1;
	color: #fff;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 450px;
}

.circle {
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin: 8px;
	height: 14px;
	width: 14px;
	transition: transform 0.3s linear;
}

.circle.grow {
	transform: scale(2);
}