* {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: 400;
    cursor: default;
  }

  body {
    background-color: #f8f8f8;
  }

  #titulo {
    font-size: 40px;
    color: #273c75;
    text-align: center;
  }

  #placar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #jogador, #computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
  }
  #jogador {
    background-color: #ff7675;
  }
  #computador {
    background-color: #74b9ff;
  }
  #versus {
    width: 200px;
    text-align: center;
    font-size: 72px;
    font-weight: 300;
  }

  #jogador-nome, #computador-nome {
    margin: 0;
    padding: 0;
  }
  #jogador-nome {
    text-align: left;
  }
  #computador-nome {
    text-align: right;
  }

  #jogador-pontos, #computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 72px;
  }
  #jogador-pontos {
    right: 20px;
  }
  #computador-pontos {
    left: 20px;
  }

  #jogador-escolha, #computador-escolha {
    list-style: none;
    text-align: center;
    margin: 30px 0 0;
    padding: 0;
  }
  #jogador-escolha li, #computador-escolha li {
    display: inline;
    padding: 0 15px;
  }
  #jogador-escolha a, #computador-escolha a {
    opacity: .2;
    padding: 5px;
  }
  #jogador-escolha a:hover, #jogador-escolha a.selecionado, #computador-escolha a.selecionado {
    opacity: 1;
  }
  #jogador-escolha img, #computador-escolha img {
    max-width: 80px;
  }

  #mensagem {
    border-radius: 5px;
    background-color: #7f8fa6;
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    padding: 20px;
  }