@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

 body {
    background-color: #301956;
	color: #fff;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
  
h1 {
	font-size: 50px;
	margin: 0;
}

p {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 2px;
	margin: 0;
}
