@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

body {
  height: 100vh;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player {
  background-color: white;
  width: 90%;
  max-width: 375px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: none;
  margin: 0;
}

h4 {
  color: #7159c1;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.card-image {
  background: url("https://placehold.it/500") no-repeat center center / cover;
  height: 200px;
}

audio {
  width: 100%;
  margin-top: 30px;
}
