@import 'https://fonts.googleapis.com/css?family=Raleway:200,100,400';

html,body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    background: rgb(67, 0, 129);
    color: rgb(241, 241, 241)
}
  
h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}
  
h1 { 
    font-size: 3.5em; 
}

h2 {
    color: rgb(185, 185, 185);
    font-size: 2em;
}
  