*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #5d3800;
}
.face{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #ffcd00;
	display: flex;
	justify-content: center;
	align-items: center;
}

.face::before{
	content: "";
	position: absolute;
	top: 180px;
	width: 150px;
	height: 70px;
	background: #b57700;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
	transition: 0.5s;
}
.face:hover::before{
	top: 210px;
	width: 150px;
	height: 20px;
	background: #b57700;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.eyes{
	position: relative;
	top: -40;
	display: flex;
}

.eyes .eye{
	position: relative;
	width: 80px;
	height: 80px;
	display: block;
	background: #fff;
	margin: 0 15px;
	top:-30px;
	border-radius: 50%;
}
.eyes .eye::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	background: #333;
	border-radius: 50%;
}


























