@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

.container {
	width: 100vw;
	height: 100Vh;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	position: relative;
	display:flex;
  }
  
  .button {
	margin: 20px auto;
	width: 140px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 4px;
	background: #b0a1f5;
	cursor: pointer;
  }

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
